[submodule "vendor/color-theme-wombat"]
	path = vendor/color-theme-wombat
	url = http://github.com/demizer/color-theme-wombat.git
[submodule "vendor/emacs-color-theme-solarized"]
	path = vendor/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
